@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --green-gradient: linear-gradient(
    144.39deg,
    rgb(125, 163, 131) -278.56%,
    #7abe7f -78.47%,
    #6faa64 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fadede 0.89%,
    #f5bfbe 17.23%,
    #f09d9d 42.04%,
    #eb7d7d 55.12%,
    #e65c5c 71.54%,
    #cf3333 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
.bg-green-gradient {
  background: linear-gradient(
    157.81deg,
    #608673 -43.27%,
    #61a788 -21.24%,
    #52a775 12.19%,
    #44a368 29.82%,
    #42ca47 51.94%,
    #33930a 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}
.nav-link:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}
.nav-links:hover {
  border-bottom: 6px solid #fff;
  transition: all 0.2s ease-out;
}
.nav-logo:hover {
  background: var(--green-gradient);
  box-shadow: var(--card-shadow);
}
.client-link:hover {
  background:  rgba(255, 255, 255, 0.6);
}
.overlay-block {
  background: rgba(49,49,49,0.8);
}
.button-link {
  background: -webkit-linear-gradient(left,#00dbde,#fc00ff,#00dbde,#fc00ff);
}
.button-link:hover {
  background:-webkit-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
}
.close-link:hover {
  background: rgb(244, 41, 41);
}
.back-image {
  background-image: url("./assets/bg1.jpg");
}
.back-or {
  background: #2a9ddf;
}
.back-reg {
  background: linear-gradient(120deg,rgb(139, 231, 41),rgb(43, 173, 216));
}
.back-sinup {
  background: linear-gradient(120deg,rgb(43, 173, 216),rgb(139, 231, 41));
}

.back-button {
  background: rgb(225, 57, 57);
}

.back-button:hover {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

input.input_Error{
  border-color: #e81010;
  border-width: 3px;
}
select.input_Error {
  border-color: #e81010;
  border-width: 3px;
}

.error {
  color: rgb(228, 9, 9);
  font-size: 1rem;
  text-align: left;
  margin-top: 0.25rem;
}

button:disabled {
  opacity: 0.75;
}

.img-display-before {
  height: 200px;
  width: 200px;
  margin-left: 35px;
}

.img-display-after {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}